.player {
  display: grid;

  & > * {
    grid-area: 1 / 1;
  }

  .blur-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(8px);
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  iframe {
    border: none;
    margin: auto;
  }

  &:not(.started) {
    .blur-overlay {
      /* To be able to play with sound, the user needs to interact with the iframe first */
      pointer-events: none;
    }
  }
}
